<launch>
    <arg name="venv_python_path" default="$(find haru_drums_ros_driver)/venv/bin/python3" />

    <node pkg="haru_drums_ros_driver" type="midi_drum_node.py" name="drum_node" output="screen" >
        <env name="PYTHONPATH" value="$(arg venv_python_path):$(env PYTHONPATH)" />
    </node>
</launch>